body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}
#countries-list{
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}
.bandera{
  width: 30%;
  height: 30%;
  margin: 3%;
  background-color: white;
  border: white 5px solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
 flex-wrap: wrap;
}
.bandera img{
  width: 70%;
  height: 70%;
}
.texto{
  margin: 5%;
  width: 50%;
  height: 20%;
}